button,
a.button,
span.button {
	cursor: pointer;

	display: inline-block;
	padding: .75em 1em;

	background-color: $link-color;
	border: none;

	color: white;
	line-height: 1;

	transition: background-color $basic-ease;

	&:hover,
	&:active,
	&:focus {
		background-color: darken($link-color, 10);
	}
}