%list-bullet {
	content: " ";

	display: inline-block;
	width: 1em;
	margin-left: -1em;

	color: $accent-color;
}

ul {
	list-style: none;

	&:not(.unstyled):not(.inline) li::before {
		@extend %list-bullet;
	    content: "•";
	}
}

ol {
	list-style: none; 
	counter-reset: li;

	li {
		counter-increment: li;
	}

	&:not(.unstyled):not(.inline) li::before {
		@extend %list-bullet;
		content: counter(li); 
  	}
}

ul,
ol {
	&.unstyled {
		padding-left: 0;
		margin: 0;
	}

	&.inline {
		li {
			display: inline-block;
		}
	}
}
